body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.header {
    background-color: maroon;
    color: white;
    padding: 15px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

.nav img.nav-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.nav a {
    margin: 10px 25px;
    color: white;
    text-decoration: none;
    font-size: large;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.search-bar input {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 100%; /* Adjust width as needed */
    max-width: 300px;
}

h1 {
    margin: 0;
}

.header .profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
}


h2 {
    color: white;
    padding-left: 20px;
}

.section {
    margin-bottom: 40px;
    padding-top: 80px; /* Adjust to prevent content from being hidden under the fixed header */
}

.section h2 {
    margin-bottom: 20px;
    color: white;
}

.movie-container {
    padding-top: 20px;
}

.movies {
    display: flex;
    overflow-x: auto;
    padding-bottom: 20px;
    padding-top: 75px;
    gap: 20px; /* Increase gap for more space around movie elements */
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: maroon #974141;
    width: 100%;
    padding-left: 30px; /* Add padding to the left */
    padding-right: 30px; /* Add padding to the right */
}

.movie {
    margin: 20px; /* Increase margin to create more space around movie posters */
    width: 150px;
    flex-shrink: 0;
    text-align: center;
    color: white;
}

.movie img {
    width: 150px;
    height: 225px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie img:hover {
    transform: scale(1.5);
    box-shadow: 0 0 15px 5px maroon;
    z-index: 10; /* Ensure the image stays on top when enlarged */
}

.movie h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.movies::-webkit-scrollbar {
    height: 5px;
}

.movies::-webkit-scrollbar-thumb {
    background-color: maroon;
    border-radius: 10px;
}

.movies::-webkit-scrollbar-track {
    background-color: #974141;
    border-radius: 10px;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollbar-container {
    width: 50%;
    margin: 0 auto;
    overflow-x: auto;
    padding-bottom: 10px;
}

.movie a {
    display: block;
    text-decoration: none;
    color: white;
}

.movie img {
    border-radius: 8px;
}
