body {
  background-color: black;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.navbar {
  background-color: maroon;
  width: 100%;
  padding: 0px 10px;
  position: fixed;
  top: 0;
  left: 0;
}

h1 {
  color: white;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

form h2 {
  margin-bottom: 20px;
  font-family: "Courier";
}

form label,
form input {
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  font-family: "Courier";
}

form input {
  width: 200px;
  padding: 8px;
  text-align: left;
}

button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

button:hover {
  background-color: maroon;
  color: white;
}

.gotosignin {
  font-size: 10px;
  font-family: "Courier";
  color: white;
}

a {
  color: white;
}
